<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <div class="nav">
          <li><a href="/register">Sign up</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
        <div class="container">
            <h1>Welcome to home page</h1>
        </div>
  </body>
</html>
